.header{
    width:100%;
    background-color:cadetblue;
    display:flex;
    padding: 12px;
    justify-content:center;
    height: 50px;
    box-sizing: border-box;
}
.backgroundRed{
    background-color: red;
}
.header input{
    margin-right: 10px;
}